{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block head %}
	<meta name="keywords" content="поиск, найти, поиск на сайте, найти на сайте, компания умный дом">
	<meta name="description" content="Поиск по технологиям, услугам, базе знаний, новостям и многом другом. Находите нужную информацию быстро и удобно.">
{% endblock head %}


{% block title %}{% trans 'Результаты запроса по:' %} {{ request.GET.q }}{% endblock title %}


{% block content %}
	<section class="padding-top-40 padding-bottom-40">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col col-md-8">
					<div class="content">
						<div class="margin-bottom-50">
							{% trans 'Результаты запроса по:' %}
							<form action="" method="get">
								<input class="form__input" id="id_q" type="text" name="q" placeholder="{% trans 'Введите текст запроса' %}" value="{{ request.GET.q }}">
							</form>
						</div>

						{% if query %}
							{% regroup page.object_list|dictsort:"content_type" by content_type as result_list %}

							<div class="margin-bottom-50">
								{% for content_type in result_list %}
									<div class="margin-bottom-30">
										<h3 class="margin-bottom-20">
											{% if content_type.grouper == "main.page" %}
												{% trans 'Страницы' %}:
											{% elif content_type.grouper == "main.about" %}
												{% trans 'О компании' %}:
											{% elif content_type.grouper == "main.index" %}
												{% trans 'Главная'%}:
											{% elif content_type.grouper == "services.service" %}
												{% trans 'Услуги' %}:
											{% endif %}
										</h3>

										<ul>
											{% for result in content_type.list %}
												{% if content_type.grouper == 'main.index' %}
													<li>
														<a href="{% url 'main:index' %}?highlight={{ request.GET.q }}">{{ result.object.content_1|safe|striptags|truncatewords_html:10 }}</a>
													</li>
												{% elif content_type.grouper == 'main.about' %}
													<li>
														<a href="{% url 'main:about' %}?highlight={{ request.GET.q }}">{{ result.object.content_1|safe|striptags|truncatewords_html:10 }}</a>
													</li>
												{% elif content_type.grouper == 'main.page' %}
													<li>
														<a href="{{ result.object.get_absolute_url }}?highlight={{ request.GET.q }}">{{ result.object.title }}</a>
													</li>
												{% elif content_type.grouper == "services.service" %}
													<li>
														<a href="{{ result.object.get_absolute_url }}?highlight={{ request.GET.q }}">{{ result.object.title }}</a>
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								{% empty %}
									<p class="text-muted">
										{% trans 'По Вашему запросу информации на сайте не найдено.' %}
									</p>
								{% endfor %}
							</div>

							<div>
								<span>{% trans 'Страницы:' %}&emsp;</span>
								<span class="pagination">
									{% for p in paginator.page_range %}
										<a class="pagination__page {% if p == page.number %}pagination__page-active{% endif %}" href="/search/?q={{ request.GET.q }}&amp;page={{ p }}">{{ p }}</a>
									{% endfor %}
								</span>
							</div>
						{% else %}
							<p class="text-center">
								{% trans 'Воспользуйтесь панелью поиска' %}
							</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}


{% block footer_js %}{% endblock footer_js %}
