<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=400" />
	<title>Smart Home — Appointment</title>
	<style type="text/css">
	.ExternalClass {
		width: 100%;
	}

	img {
		border: 0 none;
		height: auto;
		line-height: 100%;
		outline: none;
		text-decoration: none;
		-ms-interpolation-mode: bicubic;
	}

	a img {
		border: 0 none;
	}

	#outlook a {
		padding: 0;
	}

	#allrecords {
		height: 100% !important;
		margin: 0;
		padding: 0;
		width: 100% !important;
		-webkit-font-smoothing: antialiased;
		line-height: 1.45;
	}

	#allrecords td {
		margin: 0;
		padding: 0;
	}

	#allrecords ul {
		-webkit-padding-start: 30px;
	}

	#allrecords a {
		color: #0054ff;
		text-decoration: none;
	}

	@media only screen and (max-width: 600px) {
		.r {
			width: 100% !important;
			min-width: 400px !important;
		}
	}

	@media only screen and (max-width: 480px) {
		.t-emailBlock {
			display: block !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 100% !important;
		}
		.t-emailBlockPadding {
			padding-top: 15px !important;
		}
		.t-emailBlockPadding30 {
			padding-top: 30px !important;
		}
		.t-emailAlignLeft {
			text-align: left !important;
			margin-left: 0 !important;
		}
		.t-emailAlignCenter {
			text-align: center !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}
	</style>
</head>

<body cellpadding="0" cellspacing="0" style="padding: 0; margin: 0; border: 0; width:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; background-color: #efefef;">
	<!--allrecords-->
	<table id="allrecords" data-tilda-email="yes" data-tilda-project-id="1069926" data-tilda-page-id="4604927" data-tilda-page-alias="" cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse; border-spacing:0; padding:0; margin:0; border:0;">
		<tr>
			<td style="background-color: #efefef; ">
				<!--record_mail-->
				<table id="rec84072983" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="619">
					<tr>
						<td style="padding-left:15px; padding-right:15px; ">
							<table id="recin84072983" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
								<tr>
									<td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
										<table valign="top" border="0" cellpadding="0" cellspacing="0" width="100%">
											<tr>
												<td style="height:30px;" height="30px"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<!--/record-->
				<!--record_mail-->
				<table id="rec84072984" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
					<tr>
						<td style="padding-left:15px; padding-right:15px; ">
							<table id="recin84072984" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
								<tr>
									<td style="padding-top:0px;padding-bottom:30px;padding-left:0;padding-right:0;">
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
											<tr>
												<td style="width:100%; text-align: center;">
													<a href="http://{{ preference.hostname }}" target="_blank"> <img src="http://{{ preference.hostname }}/static/images/header/header__logo-blue.svg" align="center" width= "300" style="width: 300px; height: 300px;"> </a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<!--/record-->
				<!--record_mail-->
				<table id="rec84072985" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="323">
					<tr>
						<td style="padding-left:15px; padding-right:15px; ">
							<table id="recin84072985" class="r" style="margin: 0 auto;background-color:#ffffff;border-spacing: 0;width:600px;" align="center">
								<tr>
									<td style="padding-top:30px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
										<table valign="top" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
											<tr>
												<td style="text-align: left; padding: 0 0 0;">
													<div style="margin-right: auto; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#222222;font-size:28px;font-weight:bold;">Записаться на встречу.
														<br />#{{ object.id }}</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<!--/record-->
				<!--record_mail-->
				<table id="rec84072986" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="329">
					<tr>
						<td style="padding-left:15px; padding-right:15px; ">
							<table id="recin84072986" class="r" style="margin: 0 auto;background-color:#ffffff;border-spacing: 0;width:600px;" align="center">
								<tr>
									<td style="padding-top:30px;padding-bottom:30px;padding-left:30px;padding-right:30px;">
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
											<tr>
												<td style="text-align: left; padding: 0 0 0;">
													<div style="margin-right: auto; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#444444;font-size:20px;line-height:1.65;">На сайте <a href="http://{{ preference.hostname }}" style="">{{ preference.hostname }}</a> была заполнена форма:
														<br /> «Записаться на встречу»
														<br />
														<br />Телефон: {{ object.phone }}
														<br />Дата / время: {% if object.time %}{{ object.time }}{% else %}—{% endif %}
														<br />ФИО: {% if object.name %}{{ object.name }}{% else %}—{% endif %}
														<br />Комментарий: {% if object.comment %}{{ object.comment }}{% else %}—{% endif %}
														<br />Дата создания: {{ object.created|date:"d.m.Y H:i" }}
														<br />
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<!--/record-->
				<!--record_mail-->
				<table id="rec84072987" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="618">
					<tr>
						<td style="padding-left:15px; padding-right:15px; ">
							<table id="recin84072987" class="r" style="margin: 0 auto;background-color:#ffffff;border-spacing: 0;width:600px;" align="center">
								<tr>
									<td style="padding-top:30px;padding-bottom:45px;padding-left:30px;padding-right:30px;">
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
											<tr>
												<td>
													<table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
														<tr>
															<td> <a style="display: table-cell; text-decoration: none; padding: 15px 30px; font-size: 15px; text-align: center; font-weight: bold; font-family:Helvetica Neue, Helvetica, Arial, sans-serif; width: 100%;color:#ffffff; border:0px solid ; background-color:#0054ff; border-radius: 3px;" href="http://{{ preference.hostname }}/admin/capture/appointment/{{ object.id }}/"> Открыть в админке </a> </td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<!--/record-->
				<!--record_mail-->
				<table id="rec84072988" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="627">
					<tr>
						<td style="padding-left:15px; padding-right:15px; ">
							<table id="recin84072988" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
								<tr>
									<td style="padding-top:30px;padding-bottom:30px;padding-left:30px;padding-right:30px;">
										<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tr>
												<td style="text-align: center;">
													<div style="margin: 0 auto; font-weight: normal; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#222222;font-size:16px;line-height:1.5;max-width:450px;">Вы получили данное письмо, т.к. на Ваш адрес настроено получение информационных писем от сайта {{ preference.hostname }}</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<!--/record-->
			</td>
		</tr>
	</table>
	<!--/allrecords-->
</body>

</html>
